*.suo
*~
*.user
*.aps
*.ipch
*.sdf
*.opensdf

# Visual Studio
.vs/
packages/

# Log files
*_log.txt

# Build/output directories
obj/
bin/
build/

# Installer output
Installer/Output

# Installer pre-processor
Installer/PreprocessedpGina0.iss
